<head>
    <link href="./style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <div class="media">
    <img src="http://imgnews.naver.net/image/5181/2020/05/07/0001753836_001_20200507141816996.jpg" class="align-self-start mr-3" width="600px" height="810" alt="결백 포스터">
    <div class="media-body">
      <h5 class="mt-0">
    
      <div class="alert alert-light" role="alert">
        <button type="button" class="btn btn-warning">15세 관람가</button><br><br>
    
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">영화 '결백' 정보</h4>
        <p>
          <h6><strong>출연진</strong></h6>
          <p>
            <ul>
              <li>'정인'역: 신혜선</li>
              <li>'화자'역: 배종옥</li>
              <li>'추시장'역: 허준호</li>
            </ul>
          </p>
          <h6><strong>평점 및 관객수</strong></h6><br>
          
          <p>
            관람객 평점: 6/10 개봉 예정<br>
            누적관객수: 6/10 개봉 예정
          </p></p>
        <hr>
        <p class="mb-0">
          <h6><strong>시놉시스</strong></h6><br>
          <p>
            아빠의 장례식장에서 벌어진 막걸리 농약 살인사건<br>기억을 잃은 채 살인사건의 용의자로 몰린 엄마<br> 
            '화자'(배종옥)의 결백을 밝히려는 변호사 '정인'(신혜선)이<br> 
            '추시장'(허준호)과 마을 사람들이 숨기려 한<br> 
            추악한 진실을 파헤쳐가는 <strong>무죄 입증 추적극</strong>

          </p>
        </p>
      </div>
      
      
    </div>
  </div>