<head>
    <link href="./style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <div class="media">
    <img src="https://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/202004/11977_103_1.jpg" class="align-self-start mr-3"  width="600px" height="810" alt="위대한 쇼맨 포스터">
    <div class="media-body">
      <h5 class="mt-0">
    
      <div class="alert alert-light" role="alert">
        <button type="button" class="btn btn-success">12세 관람가</button><br><br>
    
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">영화 '위대한 쇼맨' 정보</h4>
        <p>
          <h6><strong>출연진</strong></h6>
          <p>
            <ul>
              <li>'P.T 바넘'역: 휴 잭맨</li>
              <li>'필립 칼라일'역: 잭 에프론</li>
              <li>'채러티 바넘'역: 미셸 윌리엄스</li>
              <li>'제니 린드'역: 레베카 퍼거슨</li>
            </ul>
          </p>
          <h6><strong>평점 및 관객수</strong></h6><br>
          
          <p>
            관람객 평점: 9.3<br>
            누적관객수: 1,593,242 명
          </p></p>
        <hr>
        <p class="mb-0">
          <h6><strong>시놉시스</strong></h6><br>
          <p>
            불가능한 꿈, 그 이상의 쇼!<br>쇼 비즈니스의 창시자이자, 꿈의 무대로 전세계를 매료시킨<br> 남자 ‘바넘’의 이야기에서 영감을 받아 탄생한<br> 오리지널 뮤지컬 영화 <위대한 쇼맨>.<br><br><미녀와 야수> 제작진과 <라라랜드> 작사팀의 합류로 <br>더욱 풍성해진 비주얼과 스토리, 음악까지 선보일 <위대한 쇼맨>은 <br>‘우리는 누구나 특별하다’는 메시지로 관객들에게 재미는 물론,<br> 감동까지 선사할 것이다.<br><br><strong>THIS IS ME! 우리는 누구나 특별하다!</strong>
          </p>
        </p>
      </div>
    </div>


