<head>
    <link href="./style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <div class="media">
    <img src="http://imgnews.naver.net/image/5090/2020/01/29/0001835971_001_20200129160605239.jpg" class="align-self-start mr-3"  width="600px" height="810"  alt="침입자 포스터">
    <div class="media-body">
      <h5 class="mt-0">
    
      <div class="alert alert-light" role="alert">
        <button type="button" class="btn btn-warning">15세 관람가</button><br><br>
    
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">영화 '침입자' 정보</h4>
        <p>
          <h6><strong>출연진</strong></h6>
          <p>
            <ul>
              <li>'유진'역: 송지효</li>
              <li>'서진'역: 김무열</li>
            </ul>
          </p>
          <h6><strong>평점 및 관객수</strong></h6><br>
          
          <p>
            관람객 평점: 7.2<br>
            누적관객수: 316,399 명
          </p></p>
        <hr>
        <p class="mb-0">
          <h6><strong>시놉시스</strong></h6><br>
          <p>
            얼마 전 사고로 아내를 잃고 실의에 빠져 있는 건축가 ‘서진’에게<br>
            25년 전 실종된 동생을 찾았다는 연락이 온다<br>
            처음 본 자신을 친근하게 “오빠”라고 부르는 ‘유진’이 어딘가 불편한 ‘서진’과 달리<br>
            가족들은 금세 그녀를 받아들인다<br><br>
        
            그런데 ‘유진’이 돌아온 후 가족들에게 이상한 일들이 벌어지기 시작하고,<br>
            이를 의심스럽게 여긴 ‘서진’은 동생의 비밀을 쫓다 자신의 일상을 송두리째<br> 뒤흔든 사건에
            그녀가 연관되어 있음을 알게 되는데...<br><br>
        
            추적 끝에 드러나는 충격적인 진실!<br>
            <strong>2020년 가장 강렬한 미스터리 스릴러</strong>
          </p>
        </p>
      </div>
      
      
    </div>
  </div>