<head>
    <link href="./style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<div class="jumbotron">
    <h1 class="display-4">LION CINEMA</h1>
    <p class="lead">어서오세요. LION CINEMA에 오신 걸 환영합니다.</p>
    <hr class="my-4">
    <p>라이언 시네마에서 행복한 추억을 만드세요.</p>
  <!-- <a href="/first/movie" class="btn btn-primary btn-lg">영화 정보 보기</a> -->
  <!-- 1 . href에서 url을 호출 -->
  <a href="{% url 'movie' %}" class="btn btn-primary btn-lg">영화 정보 보기</a>
  </div>
  