<head>
  <link href="./style.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
</head>

<div class="alert alert-warning" role="alert">
  <strong>영화 정보</strong>
</div>

<div class="card" style="width: 25rem; display: inline-block;">
    <img src="http://imgnews.naver.net/image/5090/2020/01/29/0001835971_001_20200129160605239.jpg" class="card-img-top" alt="영화 침입자 포스터">
    <div class="card-body">
      <h5 class="card-title">침입자</h5>
      <p class="card-text"><strong>25년만에 돌아온 동생, <br>나는 그녀가 의심스럽다!</strong> <br>돌아온 동생 '유진'의 정체를 밝히려는 '서진'의 추적!<br>
        추적 끝에 드러나는 충격적인 진실!</p>
      <a href="{% url 'details1' %}" class="btn btn-primary btn-lg">자세히 보기</a>
    </div>
</div>

<div class="card" style="width: 25rem; display: inline-block;">
    <img src="http://post.phinf.naver.net/MjAxNzEyMjVfNDAg/MDAxNTE0MjA2NjI3MzMw.wrbB6CHbYbe6GjUc8bGcysgioaRuVikvmPTU4JUNuw8g.wb9Fixkm0pO2nh9dOLAzvpplcoZbSXgy7Vkl9qU6-4og.JPEG/ISnV5H8OA77hiibeCvIuoT6zNUWs.jpg" class="card-img-top" alt="영화 위대한 쇼맨 포스터">
    <div class="card-body">
      <h5 class="card-title">위대한 쇼맨</h5>
      <p class="card-text"><strong>불가능한 꿈, 그 이상의 쇼!</strong><br>
        쇼 비즈니스의 창시자이자, 꿈의 무대로 전세계를 매료시킨 남자<br> 
         ‘바넘’의 이야기에서 영감을 받아 탄생한 오리지널 뮤지컬 영화 <br>
        </p>
      <a href="{% url 'details2' %}" class="btn btn-primary btn-lg">자세히 보기</a>
    </div>
</div>

<div class="card" style="width: 25rem; display: inline-block;">
  <img src="https://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/202003/15560_103_1.jpg" class="card-img-top" alt="영화 결백 포스터">
  <div class="card-body">
    <h5 class="card-title">결백</h5>
    <p class="card-text"><strong>엄마의 결백을 밝히려는 무죄 입증 추적극!</strong><br>
      아빠의 장례식장에서 벌어진 막걸리 농약 살인사건<br>
      기억을 잃은 채 살인사건의 용의자로 몰린 엄마 '화자'(배종옥)의<br> 결백을 밝히려는 변호사 딸 '정인'(신혜선)은<br> '추시장'(허준호)과 마을 사람들이 숨기려 한 추악한 진실을 파헤친다<br>
      </p>
    <a href="{% url 'details3' %}" class="btn btn-primary btn-lg">자세히 보기</a>
  </div>
</div>



